<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    footer {
        background-color: #f8f9fa;
        color: #495057;
        padding: 20px 0;
        text-align: center;
        margin-top: 10px;
    }
</style>
<footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
    <p>Follow us on:
        <a href="https://facebook.com">Facebook</a> |
        <a href="https://twitter.com">Twitter</a> |
        <a href="https://instagram.com">Instagram</a>
    </p>
</footer>
